<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To-Do List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% getLists.forEach((list) => { %>
          <li class="nav-item">
            <a class="nav-link" href="#"><%= list.listeAdi %></a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>

<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <% newListItems.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id %>" onchange="this.form.submit()">
      <p><%=  item.name  %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle%>">
  </form>
  <% }) %>


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%=listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
